
@import url(http://fonts.googleapis.com/css?family=Roboto:300);

@font-face{
    font-family: "StiffStaff";
    src: url(StiffStaff.otf);
}

* {
    padding: 0px;
    margin: 0px;
    cursor: default;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #fe0e63;
}

h1 {
    font: 50px StiffStaff;
    margin-bottom: 30px;
}

p {
    text-align: center;
    font-size: 16px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

a:hover {
    color: #fe0e63;
}

.ditto {
    max-width: 800px;
    margin: 0px auto;
}

.neon {
    margin: 120px auto 100px;
}

.summary {
    max-width: 290px;
    margin: 0px auto;
}

.vine-embed {
    display: inline-block;
    vertical-align: top;
    margin: 0px 10px;
}

.signature {
    margin: 100px auto;
    font-size: 14px;
    color: #cccccc;
}
