
@import url(http://fonts.googleapis.com/css?family=Roboto:300);

@font-face{
    font-family: "StiffStaff";
    src: url(StiffStaff.otf);
}

* {
    padding: 0px;
    margin: 0px;
    cursor: default;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #fe0e63;
}

h1 {
    font: 50px StiffStaff;
    margin-bottom: 30px;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

a:hover {
    color: #fe0e63;
}

.neon {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.signature {
    width: 100%;
    position: fixed;
    bottom: 50px;
    font-size: 14px;
    color: #cccccc;
}
